@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<br />
<h2 class="text-center">Category Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal text-center">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUserName)
        </dd>

    </dl>
</div>
<p class="text-center">
	<a href="/Category/Edit/@Model.Id" class="btn signInBtn btn-sm"><span class="fa fa-edit"></span> Edit </a>
    <a href="/Category/Index" class="btn btn-info btn-sm"><span class="fa fa-backward-step"></span> Back to List </a>


	@*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")*@
</p>
